*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , a{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}



/*HEADER*/
header::after{
    content: "";
    display: table;
    clear: both;
}

header{
    
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
    
}

#logo{
    width: 10%;
    float: left;
}

#logo img {
    padding-left: 30%;
}

header nav{
    width: 80%;
    display: inline-block;
    
    
}

ul {

list-style-type: none;



}

 ul li {

    display: inline-block;
    margin-left: 3%;
}

.margin{
    margin-left: 20%;
}

ul li a {

text-decoration: none;

}

.contain-btn-head{
    width: 10%;
    float: right;
    
}

.btn-header {
    padding: 10px;
    background-color: #297AFE;
    margin-left: 5%;
    padding: 10px 40px;
    color: white;
    
}




/* ----- HERO ------*/

.contain-hero {
    padding-top: 30px;
    background-color: #B4D0E7;
    min-height: 600px;
}

.contain-hero::after{
    content: "";
    display: table;
    clear: both;
}

.hero{
    width: 80%;
    margin: auto;
}

.hero h2 {
    font-size: 76px;
    margin-bottom: 30px;
}


.contain-p{
    width:40%;
    float: left;
    font-size: 20px;
    font-weight: 400;
    
}

.contain-img{
    width: 60%;
    float: right;
}

.contain-img img {
    width: 850px;
    height: 500px;
    object-fit: cover;
}

.contain-p a{
    background-color: #297AFE;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    

}


/*---- PLAN SECTION ----*/

#plan-section::after{
    content: "";
    display: table;
    clear: both;
}

#plan-section {
    width: 80%;
    margin: auto;
}

.plan-title {
    margin-top: 30px;
}

.plan-title h2{
    font-size: 40px;
    font-weight: 600;
    
}


.cont-checkbox {
    margin: 30px auto;
}

.checkbox {
    width: 3px;
    height: 2px;
    padding: 2px 4px;
    border: 3px solid blue;
    border-radius: 50%;
}

.check2{
    margin-left: 50px;
    border: 2px solid grey;
}

.col{
    width: 30%;
    float: left;
    padding: 30px 3%;
    
}

.col-title {
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
}

.col .container-plan {
    padding: 50px 20px;
    border: 1px solid grey;
    min-height: 800px;
}

.container-plan h3 {
    padding: 25px 0px;
}

.container-plan h4 {
    color: gray;
}


.p-plan{
    padding-top: 30px;
}

.contain-btn{
    
    margin: 30px auto;
}

.btn-plan {
    
    background-color: #297AFE;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    color: #297AFE;
}

.hr{
    border: 1px solid lightgray;
    width: 40%;
    margin-top: 30px;
}

.p-plan .fa-check {
    color: #297AFE; 
}